<div class="container">
  <nav class="navbar navbar-inverse bg-dark">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a routerLink="">Home</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a routerLink="server">Servers</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a routerLink="users">Users</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
